{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <a href="{% url 'task_manager:worker-delete' pk=worker.id %}"
       class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'task_manager:worker-update' pk=worker.id %}"
       class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>
  <p><strong>Is staff:</strong> {{ worker.is_staff }}</p>

  <div class="ml-3">
    <h4 style="text-align: center">Tasks</h4>

    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Deadline</th>
        <th>Priority</th>
        <th>Type</th>
      </tr>
    {% for task in worker.tasks.all %}
      <tr>
      <td> {{ task.id }} </td>
      <td> {{ task.name }}</td>
      <td> {{ task.deadline }}</td>
      <td> {{ task.priority }}</td>
      <td> {{ task.task_type }}</td>
      {#        <p class="text-muted"><strong>Id:</strong> {{car.id}}</p>#}

    {% empty %}
      <p>No task!</p>
    {% endfor %}
  </div>
{% endblock %}
